
# *.tar.gz
alias mkgz="tar -cvzf"
alias untar="tar -xvzf"

# Navigation
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias p="cd ~/Projects"
alias s="subl ."

# Shorcuts
alias p="cd ~/Projects"

# List all files colorized in long format
alias l="ls -Gl"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# IP addresses aliases
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# File size
alias fs="stat -f \"%z bytes\""

# Prevent errors asking for confirmation
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
